In [16]:
import pandas as pd

In [17]:
df = pd.read_csv("../Data/Raw/movies_metadata.csv")

C:\Users\MD Maruf\AppData\Local\Temp\ipykernel_19636\1337068317.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../Data/Raw/movies_metadata.csv")

In [18]:
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [19]:
df.shape

(45466, 24)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [21]:
df.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [22]:
df.duplicated().sum()

np.int64(13)

In [23]:
df['vote_count'] = pd.to_numeric(df['vote_count'], errors='coerce')

print(f"Minimum vote_count: {df['vote_count'].min()}")
print(f"Maximum vote_count: {df['vote_count'].max()}")
print(f"Average vote_count: {df['vote_count'].mean():.2f}")

print(f"Movies with vote_count < 5: {df[df['vote_count'] < 5].shape[0]}")
print(f"Movies with vote_count < 10: {df[df['vote_count'] < 10].shape[0]}")

Minimum vote_count: 0.0
Maximum vote_count: 14075.0
Average vote_count: 109.90
Movies with vote_count < 5: 14562
Movies with vote_count < 10: 22529

In [30]:
df['vote_average'] = pd.to_numeric(df['vote_average'], errors='coerce')

low_vote_hight_rating = df[(df['vote_count'] < 5) & (df['vote_average'] >= 8)]

print(f"Low vote count but high rating: {low_vote_hight_rating.shape[0]}")

Low vote count but high rating: 1258

In [33]:
low_vote_hight_rating[['original_title', 'vote_count', 'vote_average']].head(20)

                                original_title  vote_count  vote_average
186                                   Reckless         1.0          10.0
394                       Girl in the Cadillac         1.0          10.0
664                         Hostile Intentions         1.0           8.0
667                     The Run of the Country         2.0           8.0
674                               Country Life         1.0           8.0
706   The Haunted World of Edward D. Wood, Jr.         1.0          10.0
738     Carmen Miranda: Bananas Is My Business         1.0          10.0
740                                    Khomreh         3.0           8.0
772              En compagnie d'Antonin Artaud         1.0           8.0
930                         The Scarlet Letter         4.0           8.3
1081                             The Sleepover         1.0           8.0
1102                                  Dadetown         1.0           8.0
1119                         Here Comes Cookie         1.0           8.0
1301                       Nosferatu a Venezia         2.0           8.5
1389                              Guantanamera         3.0           8.0
1445                          A Brother's Kiss         1.0           8.0
1461                        Intimate Relations         1.0           8.0
1473                    The Designated Mourner         2.0           8.0
1497                         MURDER and murder         2.0           8.0
1507                           For Ever Mozart         3.0           8.0

In [28]:
df['overview'] = df['overview'].fillna('')

df['overview_length'] = df['overview'].apply(len)

print(f"Minimum overview length: {df['overview_length'].min()}")
print(f"Maximun overview length: {df['overview_length'].max()}")
print(f"Average overview length: {df['overview_length'].mean():.2f}")

print(f"Very short overvies < 10 characters: {df[df['overview_length'] > 10].shape[0]}")

Minimum overview length: 0
Maximun overview length: 1000
Average overview length: 316.54
Very short overvies < 10 characters: 44501